<h1>Sign In</h1>

<%= form_with url: sign_in_path do |f| %>
    <div>
        <%= f.text_field :username, id: 'username', placeholder: "Username" %>
    </div>

    <div>
        <%= f.password_field :password, id: 'password', placeholder: "Password" %>
    </div>
    
    <div>
        <%= f.submit 'Log In', class: 'submit button' %>
    </div>
<% end %>