<%= form_with model: @note  do |f| %>
  <hr>
  <div>
    <%= f.text_area :content, placeholder: "Content" %>
  </div>
        
  <div class="row space-between">
    <%= f.date_field :date %>

    <%= f.submit 'Save', class: "button" %>
  </div>
<% end %>