<%= form_for :note, url: notes_path do |f| %>
  <hr>
  <div>
    <%= f.text_area :content, placeholder: "Content" %>
  </div>
        
  <div>
    <%= f.date_field :date %>

    <%= f.submit 'Save', class: "submit button light" %>
  </div>
<% end %>