<%= form_with url: notes_path do |f| %>
    <div class="row">
        <%= f.text_field :content, placeholder: "Quick Note" %>

        <%= f.submit 'ðŸ¹', class: "emoji-button" %>
    </div>
<% end %>