<% menu_icon "+" %>
<% tracker_title current_date %>

<div class="column">
    <h2>Top Priorities</h2>
    <h2>Todays Goals</h2>
</div>
<div class="column">
    <div class="container mid">
        <h2>I'm Grateful For</h2>
        <% if @gratitude != nil %>
            <div>
                <%= link_to @gratitude.name, edit_gratitude_path %>
            </div>
        <% else %>
            <%= link_to "Add Gratitude", new_gratitude_path, class: "button light" %>
        <% end %>
    </div>
    <h2>Drink Water</h2>
    <h2>Notes</h2>
</div>
<div class="column">
    <h2>Meals</h2>
    <h2>Finances</h2>
    <h2>Coming Up...</h2>
</div>