<% menu_icon "Dream Journal" %>

<span class="full-height">
    <h1>Get your sh*t together</h1>
    <%= link_to "Sign up now", login_path, class: 'button' %>

    <h4>Keep track of everything you want<br>and nothing you dont...</h4>
    <h4 class="fade">goals<br>meals<br>water<br>finances<br>gratitude<br>etc.</h4>
</span>
<span>
    <h4 class="red">Your new best friend to help you get your sh*t together...</h4>
    <%= link_to "Get started today", login_path, class: 'button' %>
</span>