<div class="full-height vertically-center">
    <div class="container mid">
        <h2>Track your...</h2>
        <hr>
        <div class="split-column">
            <%= link_to 'Self Care', new_self_care_path %>
            <%= link_to 'Goals', new_goal_path %>
        </div>
        <div class="split-column">
            <%= link_to 'Finances', new_finance_path %>
            <%= link_to 'Meals', new_meal_path %>
        </div>
    </div>
</div>