<% invites.each do |invite| %>
    <li class="row space-between super-light task-bubble dark">
        <%= render 'users/avatar', { user: invite.friend, size: 'icon' } %>
        <%= invite.friend.username %>
    </li>
<% end %>