<div class="container account-column mid">
    <h1>Edit Password</h1>

    <%= form_with model: Current.user, url: edit_password_path do |f| %>
        <div>
            <%= f.password_field :password, placeholder: "Password" %>
        </div>
        
        <div>
            <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
        </div>
        
        <div>
            <%= f.submit 'Update', data: { confirm: 'Your confirm message' }, class: "button" %>
        </div>
    <% end %>
</div>