<% if !@gratitude.errors.empty? %>
  <ul class="errors">
    <% @gratitude.errors.full_messages.each do |error| %>
      <li class="row space-between task-bubble red">
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="container mid">
    <h2>I'm grateful for</h2>
    <hr class="rounded">

    <%= form_for @gratitude do |f| %>
        <div>
            <%= f.text_field :name, placeholder: "Name" %>
        </div>
        
        <div>
            <%= f.submit 'Save', class: "button" %>
        </div>
    <% end %>
</div>