<% if @gratitudes != nil %>
    <ul>
        <% @gratitudes.each do |gratitude| %>
            <li><%= link_to @find_gratitude.name, edit_gratitude_path(@find_gratitude) %></li>
        <% end %>
    </ul>
<% else %>
    <%= form_for @new_gratitude do |f| %>
        <div class="row light-mid">
            <%= f.text_field :name, placeholder: "Gratitude" %>

            <%= f.submit 'ðŸ¹', class: "emoji-button" %>
        </div>
    <% end %>
<% end %>