<% if goal.completed %>
    <h5><s><%= link_to goal[:goal], goal_complete_path(goal), method: :patch %></s></h5>
<% else %>
    <h5><%= link_to goal[:goal], goal_complete_path(goal), method: :patch %></h5>
<% end %>