<%= form_for :goal, url: goals_path do |f| %>
    <%= f.hidden_field :priority, value: priority %>

    <div class="row emoji-form">
        <%= f.text_field :goal, placeholder: "#{priority ? "Priority" : "Goal"}" %>

        <%= f.submit 'ðŸ¹' %>
    </div>
<% end %>