<%= form_for :goal, url: goals_path do |f| %>
    <%= f.hidden_field :priority, value: false %>

    <div class="row emoji-form">
        <%= f.text_field :goal, placeholder: "Goal" %>

        <%= f.submit 'ðŸ¹' %>
    </div>
<% end %>