<% if goals %>
    <ul>
        <% goals.each do |goal| %>
            <li class="row space-between super-light task-bubble dark">
                <h5><%= goal[:goal] %></h5>
                <%= link_to '💌', edit_goal_path(goal) %>
            </li>
        <% end %>
    </ul>
<% end %>