<% if goals %>
    <ul>
        <% goals.each do |goal| %>
            <li class="row space-between super-light task-bubble dark">
                <%= render 'goals/completed', {goal: goal} %>
                <%= link_to '💌', goal_path(goal) %>
            </li>
        <% end %>
    </ul>
<% end %>