<%= form_with url: goals_path do |f| %>
    <%= f.hidden_field :priority, value: true %>

    <div class="row">
        <%= f.text_field :goal, placeholder: "Priority Goal" %>

        <%= f.submit 'ðŸ¹', class: "emoji-button" %>
    </div>
<% end %>