/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
	font-family: 'SourceCodeBold';
	src:font-url('SourceCodePro-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

:root {
    --main-colour: rgb(221, 0, 18);
    --mid-colour: rgb(255, 194, 207);
    --light-mid-colour: rgb(255, 203, 214);
    --light-colour: rgb(255, 227, 234);
    --super-light-mid: rgb(255, 240, 244);
    --super-light-colour: rgb(255, 247, 249);
    --dark-colour: rgb(20, 0, 0);
    text-align: center;
    padding: none;
    margin: none;
}

html {
    background-color: var(--light-colour);
    margin-top: 60px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.red {
    color: var(--main-colour);
}

.light.button {
    background-color: var(--super-light-colour)
}

.light.button:hover {
    background-color: var(--super-light-mid)
}

.light-mid {
    background-color: var(--light-mid-colour);
}

.mid {
    background-color: var(--mid-colour)
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

h1, h2, h3, h4, h5, p, li, a, button, div, .submit, ::placeholder, select, label {
    font-family: 'SourceCodeBold', Geneva, Verdana, sans-serif;
}

a {
    font-weight: 550;
    text-decoration: none;
    color: var(--dark-colour)
}

ul {
    padding: 0;
    list-style-type: none;
}

h1 {
    font-size: 21px;
}

li, .button, button, select, input, textarea, label, ::placeholder,
input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-year-field{
    font-size: 21px;
}

a, .button, button {
    cursor: pointer;
}

button {
    background: none;
    border: none;
    font-weight: 600;
    color: var(--dark-colour);
}

hr {
    border: 2.1px solid var(--main-colour);
    background-color: var(--main-colour);
    border-radius: 6px;
    width: 100%;
}

input, .button, select, button, textarea {
    border-radius: 12px;
}

input, .button, select, button, textarea, .checkmark, .checkmark-container {
    -webkit-transition: color .6s,background .6s, border-radius .6s;
    transition: color .6s,background .6s, border-radius .6s;
}

.button {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--light-mid-colour);
    border-radius: 12px;
    color: var(--main-colour);
    width: fit-content;
}

.button:hover {
    border-radius: 50px;
    background-color: var(--mid-colour);
    color: var(--dark-colour);
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 9px;
    background-color: var(--super-light-colour);
    width: 100%;
}

header button {
    float: left;
}

header h1 {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
}

nav {
    background: var(--super-light-colour);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30%;
    padding-left: 21px;
    padding-right: 21px;
}

nav ul {
    clear: both;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
}

nav h2 {
    margin: 0;
}

nav span {
    width: 100%;
}

.close-menu {
    float: left;
    padding-top: 18px;
    padding-bottom: 9px;
}

.show {
    visibility: hidden;
}

.corner-button {
    font-size: 18px;
    position: fixed;
    top: 12px;
    right: 15px;
    background-color: none;
}

/* FORMS */

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, select, textarea {
    background: var(--super-light-colour);
    font-weight: 550;
    border: none;
    padding: 9px;
    border-radius: 9px;
    color: var(--main-colour);
    text-align: center;
}

::placeholder {
    color: var(--mid-colour);
    text-align: center;
}

input:focus, select:focus, textarea:focus {
    color: var(--main-colour);
    outline: none;
    border-radius: 50px;
    background-color: var(--super-light-mid);
}

input:hover, select:hover, textarea:hover {
    border-radius: 50px;
    background-color: var(--super-light-mid);
}

textarea {
    width: 96%;
    height: 120px;
}

textarea:focus, textarea:hover  {
    border-radius: 18px;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: var(--dark-colour);
    border-radius: 9px;
    color: var(--super-light-colour);
    outline: none;
}

select {
    margin-right: 18px;
    cursor: pointer;
}

.select-container {
    width: 60%;
    position: relative;
}

.container {
    border-radius: 30px;
    width: fit-content;
    padding: 21px;
}

.container h2 {
    margin: 0;
}

.container hr {
    margin-top: 18px;
    margin-bottom: 18px;
}

form h2 {
    color: var(--main-colour);
}

.right {
    float: right;
}

/* COLUMN STRUCTURE */

.column {
    float: left;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.split-column {
    float: left;
    width: 50%;
}

.header-bubble {
    width: 69%;
}

.mini-header {
    padding-bottom: 18px;
}

/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 600px) {
    .column, .split-column {
      width: 100%;
    }
}