:root {
    --main-colour: rgb(255, 82, 97);
    --mid-colour: rgb(17, 10, 12);
    --light-mid-colour: rgb(20, 11, 13);
    --light-colour: rgb(14, 0, 3);
    --super-light-mid: rgb(22, 14, 16);
    --super-light-colour: rgb(26, 17, 17);
    --dark-colour: rgb(255, 233, 233);
}