:root {
    --main-colour: rgb(221, 0, 18);
    --bold-colour: rgb(255, 170, 189);
    --mid-colour: rgb(255, 194, 207);
    --light-mid-colour: rgb(255, 203, 214);
    --light-colour: rgb(255, 227, 234);
    --super-light-mid: rgb(255, 240, 244);
    --super-light-colour: rgb(255, 247, 249);
    --dark-colour: rgb(20, 0, 0);
}