<% if daily_self_cares %>
    <ul>
        <%= render "self_cares/tracker", {sc: daily_self_cares[0]} %>
        <% daily_self_cares[1..-1].each do |sc| %>
            <hr>
            <%= render 'self_cares/tracker', {sc: sc} %>
        <% end if daily_self_cares.count > 1 %>
    </ul>
<% else %>
    <h2>Self Care</h2>
    <%= render 'self_cares/quick_form' %>
<% end %>